<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container" id="main-container">
		<!-- Header -->
		<%- include('partials/header') %>

		<!-- "ID= main-content-welcome" es donde va la imagen de bienvenida -->
		<div class="row" id="main-content-welcome">
			<div class="col-12"><img src="/images/home_img.PNG" class="rounded float-center welcome-img"alt="welcome to Mundo Parlante"></div>
		</div>


		<!-- ******************************************************************************************* -->
		<!-- SACO LOS PRODUCTOS PARA VER Q PASA -->
		
		<!-- Footer -->
		<%- include('partials/footer') %>
	</div>
</body>
</html>