<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Agregar Producto'}) %>
<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container-fluid" id="main-container">
		<!-- Header -->
		<%- include('partials/header') %>
	
			<!-- ACA VAN LAS COSAS DEL FORMULARIO -->
			<div class="row titulo-seccion justify-content-center"><h1>Agregar un Producto</h1></div>
			<div class="form-group justify-content-center">
			<form action="/productosAdd" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="col-12">
						<label>Nombre:</label>
						<input type="text" name="name" class="form-control" placeholder="Ej: Parlante 3m">
					</div>
					<div class="col-12">
						<label>Marca:</label>
						<input type="text" name="marca" class="form-control" placeholder="Ej: BENQ">
					</div>
					<div  class="col-12">
						<label>Modelo:</label>
						<input type="text"name="modelo" class="form-control" placeholder="Ej: AX23">
					</div>
					<div  class="col-12">
						<label>Precio:</label>
						<input type="number" name="precio" class="form-control" placeholder="Ej: AX23">
					</div>
					<div  class="col-12">
						<label>Descripcion:</label>
						<textarea name="descripcion" class="form-control" placeholder="describi el producto"></textarea>
					</div>
					<div  class="col-12">
						<label>Foto Producto:</label>
						<input type="file" name="avatar" class="form-control">
					</div>
					<div  class="col-12">
						<label></label>
					<button type="submit" class="btn btn-amarillo btn-block" >Agregar Producto</button>
					</div>
				</div>
			</form>
		</div>
		<!-- Footer -->
		<%- include('partials/footer') %>
	<!-- ↓↓ aca termina el DIV main container ↓↓ -->
	</div>
	
</body>
</html>