<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mundo Parlante - Homeaaaa Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Abel|Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container" id="main-container">
		<div class="row" id="header1">
			<h1>LAKSDJSFKHDFJKDHJDHJDKHFDDJ</h1>
			<div class="col-12 col-md-3"><img src="/images/logo_img.PNG" class="rounded float-left logo" alt="Mundo Parlante Logo"></div>
			<div class="col-12 col-md-6">
				<!-- nav fill es para q ocupe toda la celda / flex-column es para q en mobile se vea en columna / flex-md-row es para q en desktop se vea en linea // ***ESTOS: [d-flex align-items-stretch align-items-md-center]  no se si andan todavia -->
					<ul class="nav nav-fill flex-column flex-md-row d-flex align-items-stretch align-items-md-center">
						<li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Productos</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Quienes Somos</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Contacto</a></li>
					</ul>
			</div>
			<div class="col-12 col-md-3">
					<ul class="nav nav-fill flex-column flex-md-row d-flex align-items-stretch align-items-md-center">
							<li class="nav-item"><a class="nav-link active" href="#">Log In</a></li>
							<li class="nav-item"><a class="nav-link active" href="#">Register</a></li>
					</ul>
			</div>
		</div>
		<!-- "ID= main-content-welcome" es donde va la imagen de bienvenida -->
		<div class="row" id="main-content-welcome">
			<div class="col-12"><img src="/images/home_img.PNG" class="rounded float-center welcome-img"alt="welcome to Mundo Parlante"></div>
		</div>
		<!-- "ID = main-content-title" donde va el titulo productos-->
		<div class="row main-content-title" id="main-content-title-productos">
			<div class="col-10 col-md-10">Productos</div>
			<div class="col-2 col-md-2"><a href="#" alt="Mi Carrito"><i class="fa fa-shopping-cart"></i></a></div>
		</div>
		<div class="row" id="main-content-content">
			<!-- Columna que contiene todo lo relativo a filtros -->
			<div class="col-12 col-md-3 filtros" id="main-content-titulo-filtros">FILTROS
				<div class="row filtros-content">
					<!-- en esta col va titulo: MARCA -->
					<div class="col-12"><strong>Marca</strong></div>
						<!-- en esta col van los items de MARCA -->
						<div class="col-6 col-md-12">
							<input type="checkbox" name="marca" value="marca1">Marca 1<br>
							<input type="checkbox" name="marca" value="marca2">Marca 2<br>
							<input type="checkbox" name="marca" value="marca3">Marca 3<br>
							<input type="checkbox" name="marca" value="marca4">Marca 4<br>
							<input type="checkbox" name="marca" value="marca5">Marca 5<br>
						</div>
					<div class="col-12"><strong>Modelo</strong></div>
						<div class="col-6 col-md-12">
								<input type="checkbox" name="modelo" value="modelo1">Modelo 1<br>
								<input type="checkbox" name="modelo" value="modelo2">Modelo 2<br>
								<input type="checkbox" name="modelo" value="modelo3">Modelo 3<br>
								<input type="checkbox" name="modelo" value="modelo4">Modelo 4<br>
								<input type="checkbox" name="modelo" value="modelo5">Modelo 5<br>
						</div>
				</div>
			</div>
			<!-- columna en donde va el BUSCADOR, LOS PRODUCTOS ETC -->
			<div class="col-12 col-md-9"id="main-content-items">
				<!-- ROW en donde va el "ver todos y el BUSCADOR -->
				<div class="row" id="main-content-buscador">
					<div class="col-3 col-md-2">Ver Todos</div>
					<div class="col-9 col-md-10">Buscar</div>
				</div>
				<!-- ROW en donde van los "product boxes" -->
				<div class="row" id="main-content-productos-items">
					<!-- IMAGENES DE PRODUCTOS:  "img-thumbnail" le pone un borde blanco a la foto-->
						<div class="col-12 col-md-4"><p>Prod.Detail</p><img src="/images/node.jpg" alt="" class="rounded float-center img-fluid img-thumbnail"></div>
						<div class="col-12 col-md-4"><p>Prod.Detail</p><img src="/images/node.jpg" alt="" class="rounded float-center img-fluid img-thumbnail"></div>
						<div class="col-12 col-md-4"><p>Prod.Detail</p><img src="/images/node.jpg" alt="" class="rounded float-center img-fluid img-thumbnail"></div>
						<div class="col-12 col-md-4"><p>Prod.Detail</p><img src="/images/node.jpg" alt="" class="rounded float-center img-fluid img-thumbnail"></div>
						<div class="col-12 col-md-4"><p>Prod.Detail</p><img src="/images/node.jpg" alt="" class="rounded float-center img-fluid img-thumbnail"></div>
						<div class="col-12 col-md-4"><p>Prod.Detail</p><img src="/images/node.jpg" alt="" class="rounded float-center img-fluid img-thumbnail"></div>
				</div>
			</div>
		</div>
		<!-- FOOTER clases: row por q hay que ponerla. Footer para cambiarle el fondo en CSS. JUS-CON-BET para que los iconos me queden al costado derecho -->
		<div class="row footer justify-content-between" id="footer">
			<div class="col-12 d-flex align-items-center"id="Footer-titulo">Quienes Somos</div>
			<!-- ***PARRAFO Quienes Somos***** 
				"D-FLEX ALIGN-ITEMS-CENTER es para que el texto se vea en el medio de la celda y no arriba o abajo-->
			<div class="col-12 col-md-10 d-flex align-items-center"id="Footer-parrafo"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos magnam praesentium pariatur officia, eveniet est, consequatur amet eligendi voluptates fugiat nulla fuga voluptate voluptas porro omnis nemo. Odio eius dicta cumque, veritatis, deleniti neque dolorum eum, sapiente est repellat earum.</p></div>
			<!-- ***SOCIAL ICONS COL***** 
				FLEX-ROW hace que se vean en linea cuando esta mobile. FLEX-MD-COLUMN es para q se vean en columna en desktop -->
			<div class="col-12 col-md-1 col-offset-md-1 flex-row flex-md-column" id="Footer-social-icons">
				<a href="#" alt="Instagram"><i class="fa fa-instagram"></i></a>
				<a href="#" alt="Facebook"><i class="fa fa-facebook-square"></i></a>
				<a href="#" alt="Twitter"><i class="fa fa-twitter-square"></i></a>
				<a href="#" alt="You Tube"><i class="fa fa-youtube-play"></i></a>
			</div>
		</div>
	</div>
</body>
</html>