*{
  box-sizing: border-box;
}
[class*=col-]{
  /* para hacer un debug*/
  /* border: solid 1px red;*/
  /* margin: 0; */
}
html, body {
  min-height: 100vh;
  margin: 0;
  background-color: #000;
}
header{
  background-color: #000;
  display:block;
}
nav{
  margin: 0;
  padding: 0;
}
ul li{
  margin:0;
  padding:0;
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
  color:#fff;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}
a:hover{
  color:#fff000;
}
p{
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
}
h1{
  color:#FFF000;
  font-size: 48px;
}
.text-amarillo{
  color:#FFF000;
}
.mg-top{
  margin-top: 10px;
}
.mg-right{
  margin-right: 10px;
}
.container{
  background: #000;
  color: #ffffff;
  /*border: solid 1px blue; */
}
.row{
  /*border: solid 1px green; */
}
.logo{
  width:100%
}
.welcome-img{
  width:100%;
}
.main-content-title{
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}
.filtros{
  background-color: #2B2B2B;
  font-family: 'Bebas Neue', cursive;
  font-size: 28px;
}
.filtros-content{
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}
.footer{
  background-color: #fff;
  color:#000;
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  margin-top: 2%;
}
.footer a{
  color:#000;
  margin: 0;
  padding: 0;
}
.form-group{
  border:0px white solid;
  padding:10px;
  width:80%;
  margin: 10px auto;
  background-color: #000;
}
.btn-amarillo{
  background-color: #FFF000;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}
.btn-amarillo:hover{
  background-color: #6B6B6B;
  color:#000;
}
.cont-prod-carrito{
  background-color: #2B2B2B;
  margin-top: 10px;
}
.p-2{
  border:1px red solid;
}
.mail{
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}
.ficha-producto{
  padding:15px;
}
.card-columns{
  margin:0 10px;
}
