<!-- FOOTER clases: row por q hay que ponerla. Footer para cambiarle el fondo en CSS. JUS-CON-BET para que los iconos me queden al costado derecho -->
<div class="row footer justify-content-between" id="footer">
    <div class="col-12 d-flex align-items-center"id="Footer-titulo">Quienes Somos</div>
    <!-- ***PARRAFO Quienes Somos***** 
        "D-FLEX ALIGN-ITEMS-CENTER es para que el texto se vea en el medio de la celda y no arriba o abajo-->
    <div class="col-12 col-md-10 d-flex align-items-center"id="Footer-parrafo"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos magnam praesentium pariatur officia, eveniet est, consequatur amet eligendi voluptates fugiat nulla fuga voluptate voluptas porro omnis nemo. Odio eius dicta cumque, veritatis, deleniti neque dolorum eum, sapiente est repellat earum.</p></div>
    <!-- ***SOCIAL ICONS COL***** 
        FLEX-ROW hace que se vean en linea cuando esta mobile. FLEX-MD-COLUMN es para q se vean en columna en desktop -->
    <div class="col-12 col-md-1 col-offset-md-1 flex-row flex-md-column" id="Footer-social-icons">
        <a href="#" alt="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" alt="Facebook"><i class="fa fa-facebook-square"></i></a>
        <a href="#" alt="Twitter"><i class="fa fa-twitter-square"></i></a>
        <a href="#" alt="You Tube"><i class="fa fa-youtube-play"></i></a>
    </div>
</div>