<header>
    <div class="row" id="header1">
        <div class="col-12 col-md-3"><img src="/images/logo_img.PNG"  class="rounded float-left logo" alt="Mundo Parlante Logo"></div>
        <div class="col-12 col-md-6 align-self-center">
            <!-- nav fill es para q ocupe toda la celda / flex-column es para q en mobile se vea en columna / flex-md-row es para q en desktop se vea en linea // ***ESTOS: [d-flex align-items-stretch align-items-md-center]  no se si andan todavia -->
                <ul class="nav nav-fill  flex-column flex-md-row d-flex align-items-stretch align-items-md-start">
                    <li class="nav-item"><a class="nav-link f-24 font-bebas f-md-16 active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link f-24 font-bebas f-md-16 active" href="/productos">Productos</a></li>
                    <li class="nav-item"><a class="nav-link f-24 font-bebas f-md-16 active" href="/quienes-somos">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link f-24 font-bebas f-md-16 active" href="/contacto">Contacto</a></li>
                </ul>
		</div>
		<div class="col-12 col-md-3 align-self-center">
	<!-- <navbar class="d-flex justify-content-end"> -->
        <ul class="nav nav-fill flex-column flex-md-row d-flex align-items-stretch align-items-md-center justify-content-end">
			<% if (isAuthenticated) { %>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<img src="/images/avatars/<%= user.avatar %>" width="40" style="border-radius: 100%;">
					<span class="f-12">Hi <%= user.name %></span>
				</a>
				<div class="dropdown-menu" aria-labelledby="dropUser" style="left: auto; right: 0;">
					<a class="dropdown-item font-abel" href="/users/profile">My profile</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item font-abel" href="/users/logout">Logout</a>
				</div>
			</li>
			<% } else { %>
			<li class=""><a class="nav-link reg-log f-24 font-bebas f-md-16" href="/users/register">Register</a></li>
			<li class=""><a class="nav-link reg-log f-24 font-bebas f-md-16" href="/users/login">Login</a></li>
			<% } %>
		</ul>
	<!-- </navbar> -->
	</div>
	</div>
</header>