<header>
    <div class="row" id="header1">
        <div class="col-12 col-md-3"><img src="/images/logo_img.PNG" class="rounded float-left logo" alt="Mundo Parlante Logo"></div>
        <div class="col-12 col-md-6">
            <!-- nav fill es para q ocupe toda la celda / flex-column es para q en mobile se vea en columna / flex-md-row es para q en desktop se vea en linea // ***ESTOS: [d-flex align-items-stretch align-items-md-center]  no se si andan todavia -->
                <ul class="nav nav-fill flex-column flex-md-row d-flex align-items-stretch align-items-md-center">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/productos">Productos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/quienes-somos">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/contacto">Contacto</a></li>
                </ul>
        </div>
        <div class="col-12 col-md-3">
                <ul class="nav nav-fill flex-column flex-md-row d-flex align-items-stretch align-items-md-center">
                        <li class="nav-item"><a class="nav-link active" href="login">Log In</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/register">Register</a></li>
                </ul>
        </div>
    </div>
</header>